@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Mukta", sans-serif;;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: auto;
  /* background-image: url("./assets/Background.svg"); */
  background-color: #ffff;
  /* background-position: top;
  background-repeat: no-repeat; */
  /* background-attachment:fixed; */
  /* background-size:200%; */
}
::selection{
  background-color: #befedf;
  color: #022c18;
}
nav{
  width: 100%;
  height: auto;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  z-index: 2;
}
.logo{
  height: 60px;
  margin-left: 40px;
  gap:20px;
  color:#10b969;
  display: flex;
  align-items: center;
}
.logo p{
  display: block;
}
.logo img{
  height: 100%;
  border-radius: 50%;
}
.menu{
  margin-right: 40px;
  list-style: none;
  gap: 40px;
  height: 100%;
}
 .innermenu{
  display: flex;
  height: 100%;
  align-items: center;
}
.innermenu i{
  margin-right: 30px;
  font-size: 1.5em;
  color: #10b969;
  display: none;
  cursor: pointer;
}
.innermenu i:hover{
  color: #059652;
}
.menu,.logo{
  display: flex;
  text-transform: uppercase;
  font-size: 1.08rem;
  /* font-size: clamp(0.8em, 7vw, 1.08em); */
  letter-spacing: 1px;
  font-weight: 600;
  align-items: center;
}

.menu li{
  height: 100%;
  padding: 0 20px 0 20px;
  border-bottom: 2px solid transparent;
  cursor: pointer;
  color: #10b969;
  transition: all ease .6s;
  display: flex;
  align-items: center;
}
.menu li a{
  color:#10b969;
  text-decoration: none;
}
.menu li:hover{
  color: #059652;
  border-bottom: 2px solid #059652;
}
.slidone{
  width: 100%;
  background-image: url("./assets/Background.svg");
  background-color: #022c18;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-size:200%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socialmedias{
  display: flex;
  flex-direction: column;
  background-color: #ecfdf5;
  padding: 5px;
  gap:5px;
  z-index: 1;
  position: absolute;
  border-radius: 0 3px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.socialmedias a i{
  text-decoration: none;
  color: #022c18;
  font-size: 1.7em;
  padding: 10px;
  border-radius: 5px;
}
.socialmedias a i:hover{
  background-color: #d0fce7;
}
.intro{
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}
.intro h1{
  font-size: clamp(1.5em, 7vw , 4.5em);
  color: #022c18;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.intro p{
  font-size: 1.3em;
  initial-letter: 1px;
  text-align: center;
  color: #022c18;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 800px;
  min-width: 300px;
  margin: 0 40px 40px 40px;
}
.intro button{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #10b969;
  border:none;
  color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.intro button:hover{
  background-color:#059652;
}
.slidtwo{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
.slidtwo .heading{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}
.slidtwo .heading h2{
  margin-top: 100px;
  color: #022c18;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.slidtwo .heading .userdefined_line{
  width: 40px;
  height: 5px;
  background-color: #10b969;
  border-radius: 5px;
}
.slidtwo span{
  text-align: center;
  max-width: 800px;
  min-width: 300px;
  margin: 30px 40px 0 40px;
  font-size: 1.2em;
  font-weight: 500;
  color: #022c18;
  letter-spacing: 1px;
}
.me-skill{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  width: 90%;
  margin-top: 100px;
}
.known_me .heading{
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.known_me button{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #10b969;
  border:none;
  color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
}
.known_me button:hover{
  background-color:#059652;
}
.known_me .content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.known_me .content p{
  font-size: 1.1em;
  font-weight: 400;
  color: #022c18;
  letter-spacing: 1px;
  text-align: justify;
}
.known_me .content p a{
  font-size: 1.1em;
  font-weight: bold;
  color: #10b969;
}
.skills .heading{
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 40px;
}
.skills ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.skills ul li{
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #d0fce7;
  font-size: 1em;
  font-weight: 500;
  color: #022c18;
  cursor: pointer;
}
.skills ul li:hover{
  background-color: #befedf;
}
.slidthree{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #d0fce7;
  padding-bottom: 100px;
}
.slidthree .heading{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}
.slidthree .heading h2{
  margin-top: 100px;
  color: #022c18;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.slidthree .heading .userdefined_line{
  width: 40px;
  height: 5px;
  background-color: #10b969;
  border-radius: 5px;
}
.slidthree span{
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  color: #022c18;
  max-width: 800px;
  min-width: 300px;
  margin: 30px 40px 0 40px;
  letter-spacing: 1px;
}
.slidthree .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects{
  width: 90%;
  height: auto;
  display: grid;
  gap:60px;
  grid-template-columns: repeat(2,1fr);
  margin-top: 100px;
  margin-bottom: 40px;
  place-items: center;
}
.projects img{
  width:100%;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.projects_detials {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}
.projects_detials .heading{
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 25px;
  color: #022c18;
}
.projects_detials .para{
  font-size: 1em;
  height: 110px;
  overflow: hidden;
  font-weight: 500;
  color: #022c18;
  letter-spacing: 1px;
  text-align: justify;
}
.projects_detials a{
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 32px;
  text-transform: uppercase;
  background-color: #10b969;
  border:none;
  color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 25px;
  text-decoration: none;
}
.projects_detials a:hover{
  background-color:#059652;
}
.slidfour{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 100px;
}
.slidfour .heading{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:20px;
}
.slidfour .heading h2{
  margin-top: 100px;
  color: #022c18;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.slidfour .heading .userdefined_line{
  width: 40px;
  height: 5px;
  background-color: #10b969;
  border-radius: 5px;
}
.slidfour span{
  text-align: center;
  font-size: 1.2em;
  font-weight: 500;
  color: #022c18;
  max-width: 800px;
  min-width: 300px;
  margin: 30px 40px 0 40px;
  letter-spacing: 1px;
}
.slidfour .messageForm{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 100px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.slidfour .messageForm label{
  font-size: 1em;
  font-weight: bold;
  color: #022c18;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.slidfour .messageForm input{
  font-size: 1em;
  font-weight: 500;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
  background-color: #3c484217;
  border-radius: 5px;
}
.slidfour .messageForm textarea{
  font-size: 1em;
  font-weight: 500;
  border: none;
  padding: 20px;
  margin-bottom: 20px;
  outline: none;
  background-color: #3c484217;
  border-radius: 5px;
  max-width: 100%;
  min-height: 100px;
  max-height: 150px;
}
.slidfour .messageForm button{
  width: fit-content;
  text-align: end;font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #10b969;
  border:none;
  color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
}
.slidfour .messageForm button:hover{
  background-color:#059652;
}
footer{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
}
footer .footer_content{
  width: 90%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ffffff62;
  padding-bottom: 80px;
}
footer .footer_content .content1{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:10px;
}
footer .footer_content .content1 h2{
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}
footer .footer_content .content1 ul{
  display: flex;
  list-style: none;
  gap:15px;
}
footer .footer_content .content1 ul li a{
  font-size: 1.5em;
  color: #ffff;
}
footer .footer_content .content2{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap:10px;
}
footer .footer_content .content2 h2{
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  letter-spacing: 1px;
}
footer .footer_content .content2 p{
  font-size: 1em;
  letter-spacing: 1px;
}
.copyright{
  margin-bottom: 40px;
  font-size:.8em;
  letter-spacing: 1px;
}
.copyright a{
  color: #ffff;
}
.caseStudy_slid1{
  width: 100%;
  height: 100vh;
  background-color: #d0fce7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.caseStudy_slid1 h1{
  font-size: clamp(1.5em, 7vw , 4.5em);
  color: #022c18;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.caseStudy_slid1 p{
  font-size: 1.3em;
  initial-letter: 1px;
  text-align: center;
  color: #022c18;
  font-weight: 500;
  text-transform: capitalize;
  max-width: 800px;
  min-width: 300px;
  margin: 0 40px 0 40px;
}
.caseStudy_slid1 a{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  background-color: #10b969;
  border:none;
  color: #ffff;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
  text-decoration: none;
}
.caseStudy_slid1 a:hover{
  background-color:#059652;
}
.caseStudy_slid2{
  width: 100%;
  height: auto;
  padding: 100px 0 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caseStudy_slid2 .caseStudy_container{
  width: 80%;
}
.caseStudy_slid2 .caseStudy_container img{
  width: 100%;
  object-fit: contain;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.caseStudy_slid2 .caseStudy_container .heading{
  margin-top: 80px;
  margin-bottom: 20px;
  color: #022c18;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
}
.caseStudy_slid2 .caseStudy_container p{
  font-size: 1.1em;
  font-weight: 400;
  color: #022c18;
  letter-spacing: 1px;
  text-align: justify;
}
.caseStudy_slid2 .caseStudy_container ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.caseStudy_slid2 .caseStudy_container ul li{
  padding: 8px 16px;
  border-radius: 5px;
  background-color: #d0fce7;
  font-size: 1em;
  font-weight: 500;
  color: #022c18;
  cursor: pointer;
}
.caseStudy_slid2 .caseStudy_container ul li:hover{
  background-color: #befedf;
}
.caseStudy_slid2 .caseStudy_container .buttons{
  display: flex;
  gap:20px;
}
.caseStudy_slid2 .caseStudy_container .buttons a{
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  border:none;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 40px;
  text-decoration: none;
  border: 2px solid #10b969;
}
.nonoutline{
  background-color: #10b969 !important;
  color: #ffff !important;
}
.nonoutline:hover{
  background-color: transparent !important;
  color: #10b969 !important;
}
.outline{
  background-color: transparent !important;
  color: #10b969 !important;
}
.outline:hover{
  background-color: #10b969 !important;
  color: #ffff !important;
}
.active{
  display: block;
  animation: fade .5s ease;
}
.disable{
  animation: fade_out .5s ease;
  display: none;
}
@keyframes fade_out {
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes fade {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@media (max-width: 1010px){
  .slidone{
    background-size:300%;
  }
}
@media (max-width: 894px) {
  .slidone{
    background-size:420%;
  }
  .socialmedias{
    display: none;
  }
  .intro p{
    font-size: 1.1em;
  }
  .me-skill{
    grid-template-columns: 1fr;
  }
  .projects{
    grid-template-columns:1fr;
    gap:40px;
    margin-top: 50px;
  }
  .projects_detials .para{
    font-size: 1em;
    font-weight: 400;
  }
  .slidfour .messageForm{
    width: 70%;
  }
  footer .footer_content{
    flex-direction: column;
    align-items: start;
    gap:30px;
  }
  .logo{
    margin-left: 10px;
  }
  .logo p{
    display: none;
  }
  .intro{
    margin-top: 40px;
  }
  .caseStudy_slid2 .caseStudy_container .buttons{
    display: flex;
    width: 250px;
    flex-direction: column;
    gap:10px;
  }
  .caseStudy_slid2 .caseStudy_container .buttons a{
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
  }
  .caseStudy_slid1{
    height: 85vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px ;
    gap: 20px;
  }
  .caseStudy_slid1 p{
    font-size: 1em;
  }
  .caseStudy_slid1 a{
    font-size: 1em;
  }
  .caseStudy_slid2 .caseStudy_container p{
    font-size: 1em;
  }
  .caseStudy_slid2 .caseStudy_container .heading{
    font-size: 1.5em;
  }
  footer .footer_content .content1 ul li a{
    font-size: 1.3em;
  }
  footer .footer_content .content2 p{
    font-size: .9em;
  }
  .copyright{
    margin-bottom: 40px;
    font-size:.6em;
    letter-spacing: 1px;
  }
  .slidtwo span{
    font-size: 1.1em;
  }
  .slidthree span{
    font-size: 1.1em;
  }
  .slidfour span{
    font-size: 1.1em;
  }
  .slidfour .messageForm button{
    font-size: 1em;
  }
  .known_me button{
    font-size: 1em;
  }
  .intro button{
    font-size: 1em;
  }
  .known_me .content p{
    font-size: 1em;
  }
  .known_me .content p a{
    font-size: 1em;
  }
  .skills ul li{
    font-size: .9em;
  }
  .menu,.logo{
    font-size: .9rem;
  }
  .menu{
    gap: 20px;
  }
}
@media (max-width: 667px) {
  .slidone{
    background-size:670%;
  }
  .logo p{
    display: block;
    font-size: 1.2em;
  }
  .menu{
    display: none;
  }
  .innermenu i{
    display: block;
  }
  .want{
    border-top: 1px solid #1e1e1e23;
  }
  .phone_menu{
    padding-top: 80px;
    list-style: none;
    position: fixed;
    width: 100%;
    background-color: #ffff;
    z-index: 1;
  }
  
  .phone_menu li{
    text-align: end;
    padding:15px 30px 15px 0;
    border-bottom: 1px solid #1e1e1e23;
    height: 100%;
    cursor: pointer;
    color: #10b969;
    font-size: 1.1em;
    font-weight: 500;
  }
  .phone_menu li:hover{
    color: #059652;
  }
  .phone_menu li a{
    color: #10b969;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
  }
}

